* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




/* crousel flex */

.main-flex-div {
    width: 100%;
    min-height: 520px;
    background-color: rgba(249, 244, 244, 0.844);
    display: flex;
    margin-top: 30px;
}

.content-div {
    width: 50%;
    height: 420px;
    padding: 0px;
   
}

.content-div h2 {
    line-height: 1;
    color: black;
    padding: 0px 30px;
}

.content-div p {
   color: #780A0A;
   padding: 30px;
   
}

.content-div #button-two {
  padding: 5px, 26px, 5px, 26px;
    height: 50PX;
    width: 160px;
    background-color: #AF52DE;
    border-radius: 40px;
    color: #f9f9f9;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 10px 30px;


}

.img-wrapper{
    height: 600px !important;
    width: 700px !important;

}

.img-wrapper img{
     height: 820px !important;
     width: 700px !important;

}

.content-two-div{
    padding: 50px;
    height: 400px;
    width: 100%;
    }
    



/* navbar */

.navbar-nav {
    margin-left: 40px !important;
    font-size: 18px !important;
}

.dropbtn {
    color: black;
    padding-left: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    z-index: 1;

}

.dropdown {
    position: relative;
    display: inline;

}

.dropdown-content a {
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    text-decoration: underline;
    color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    background-color: rgb(43, 43, 43);
    display: block;

}

.dropdown:hover .dropbtn {
    color: orange;
    text-decoration: underline;
    font-weight: bolder;
}


#donate {
    height: 30px;
    width: 90px;
    border: 2px solid #AF52DE;
    border-radius: 40px;
    color: rgb(16, 16, 16);
    margin-left: 30px;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent
    
    

}

#donate:hover {
    background-color: #AF52DE;
    color: #f9f9f9;
}



#location{
text-decoration: none;
color: black;
font-size: 12px;
padding: 30px;
line-height: 16;
}

/* 
@media only screen and (max-width: 1050px) {

    .navbar-nav {
        margin-left: 0px !important;
    }



    #donate {

        margin-left: 20px;

    }


    .container-fluid{
        margin-left: 90%;
    }

}
 */

@media only screen and (max-width: 850px) {

    .main-box {
        flex-wrap: wrap;
    }
}



@media only screen and (max-width: 750px) {

    .main-box {
        flex-wrap: wrap;
    }
}



@media only screen and (max-width: 650px) {

    .main-box {
        flex-wrap: wrap;
    }
}




@media only screen and (max-width: 450px) {

    .main-box {
        flex-wrap: wrap;
    }

    
    .navbar-nav {
        margin-left: 0px !important;
    }



}

/* 

@media only screen and (max-width: 1050px) {

    .main-flex-div {
        width: 100%;
        height: 450px;
    }


    .content-div {
        width: 100%;
        padding: 20px;

    }

    .crousel-div {
        width: 100% !important;

    }



    
    
.img-wrapper img{
    height: 520px !important;
    width: 100% !important;

}



#location{
    line-height: 0;
    }

    

    .container-fluid{
        margin-left: 80%;
    }

    
} */








@media only screen and (max-width: 950px) {
    .main-flex-div {
        width: 100%;
        height: 1050px;
        flex-direction: column;
    }


    .content-div {
        width: 100%;
        padding: 40px;
        height: 450px;

    }


    .crousel-div {
        width: 100% !important;
    }

    
.content-two-div{
    padding: 50px;
    height: 450px;
    width: 100%;
    
    }
    

    

#location{
    line-height: 0;
    }
    
    

    .container-fluid{
        margin-left: 90%;
    }


    
    
.img-wrapper img{
    height: 520px !important;
    width: 100% !important;

}

}








@media only screen and (max-width: 850px) {

    .main-flex-div {
        width: 100%;
        height: 1050px;
        flex-direction: column;
    }


    .content-div {
        width: 100%;
        padding: 40px;
        height: 450px;

    }


    .crousel-div {
        width: 100% !important;
    }

    
.content-two-div{
    padding: 50px;
    height: 450px;
    width: 100%;
    
    }
    

    

#location{
    line-height: 0;
    }
    
    

    .container-fluid{
        margin-left: 90%;
    }


    
    
.img-wrapper img{
    height: 520px !important;
    width: 100% !important;

}

}






@media only screen and (max-width: 750px) {
   
    .main-flex-div {
        width: 100%;
        height: 1050px;
        flex-direction: column;
    }


    .content-div {
        width: 100%;
        padding: 40px;
        height: 500px;

    }


    .crousel-div {
        width: 100% !important;
    }

    
.content-two-div{
    padding: 50px;
    height: 500px;
    width: 100%;
    
    }
    

    

#location{
    line-height: 0;
    }
    
    

    .container-fluid{
        margin-left: 85%;
    }


    
    
.img-wrapper img{
    height: 520px !important;
    width: 100% !important;

}
}




@media only screen and (max-width: 650px) {

  
    .main-flex-div {
        width: 100%;
        height: 1150px;
        flex-direction: column;
    }


    .content-div {
        width: 100%;
        padding: 40px;
        height: 500px;

    }


    .crousel-div {
        width: 100% !important;
    }

    
.content-two-div{
    padding: 50px;
    height: 500px;
    width: 100%;
    
    }
    

    

#location{
    line-height: 0;
    }
    
    

    .container-fluid{
        margin-left: 80%;
    }


}


@media only screen and (max-width: 450px) {

 
    .main-flex-div {
        width: 100%;
        height: 1180px;
        flex-direction: column;
    }


    .content-div {
        width: 100%;
        padding: 40px;
        height: 700px;

    }


    .crousel-div {
        width: 100% !important;
    }

    
.content-two-div{
    padding: 0px;
    height: 400px;
    width: 100%;
    
    }
    

    

#location{
    line-height: 0;
    }
    
    

    .container-fluid{
        margin-left: 70%;
    }



}








/* cards-slider */

@media only screen and (min-width:567px) {
    .cards-two-wrapper{

        display: flex;
    }
    
    .cards{
    
        margin: 5em 5em !important;
        width: calc(100%/3) !important;
    }
    
    .card-two-img-wrapper{
        height: 22vw;
        margin: 0 auto;
    }
    
}


@media only screen and (max-width:567px) {
.cards:not(:first-child){
    display: none;
}
}



 .card-two-img-wrapper img{
    max-width: 100% ;
    max-height: 100%;
}





/* footer */

.main-foot-div {
    width: 100%;
    height: 330px;
    background-color: rgb(31, 29, 29);
    margin-top: 30px;
    display: flex;
}

.about {
    width: 24%;
    padding: 30px;
}


.about h1 {
    font-size: 20px;
    font-weight: 800;
    color: #f9f9f9;
    line-height: 3;
    padding-top: 5px;
}

.about p {
    font-size: 16px;
    color: rgba(167, 162, 162, 0.821);

}

.quick {
    width: 30%;
    padding: 22px 30px 0px 30px;
}


.quick h1 {
    font-size: 20px;
    font-weight: 800;
    color: #f9f9f9;
    line-height: 2.5;
    padding-top: 18px;
}

.quick a {
    text-decoration: none;
    color: rgba(167, 162, 162, 0.821);
    padding: 35px 60px 35px 0px;
    text-transform: uppercase;
    font-size: 18px;
}


.quick a:hover {
    color: orange;
}

.news {
    width: 24%;
    padding: 30px;
}



.news h1 {
    font-size: 20px;
    font-weight: 800;
    color: #f9f9f9;
    line-height: 3;
}



.news p {
    font-size: 16px;
    color: rgba(167, 162, 162, 0.821);
}


.input {
    max-width: 430px;
    height: 40px;
    margin-top: 30px;
    position: relative;
}

input {
    border: none;
    outline: none;
    width: 76%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.home-btn {
    border: none;
    outline: none;
    width: 28%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    color: white;
}



.contact {
    width: 23%;
    padding: 30px;
}



.contact h1 {
    font-size: 20px;
    font-weight: 800;
    color: #f9f9f9;
    line-height: 3;
}


.contact p {
    font-size: 16px;
    color: rgba(167, 162, 162, 0.821);
}

.contact span {
    color: #f9f9f9;
}


.resevered {
    height: 50px;
    width: 100%;
    background-color: rgba(31, 29, 29, 0.945);
    display: flex;
    align-items: center;
}

.resevered p {
    width: 85%;
    padding-left: 30px;
    color: rgba(193, 185, 185, 0.945);
}

.resevered a {
    text-decoration: none;
    color: #f9f9f9;
}

.top-child-two2 {
    width: 20%;
    height: 40px;

}

.top-child-two2 i {
    padding: 9px;
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0.278);
    color: rgba(128, 128, 128, 0.712);
}

.top-child-two2 i:hover {
    color: orange;
}





@media only screen and (max-width:980px) {


    .main-foot-div {
        width: 100%;
        height: 850px;
        background-color: rgb(31, 29, 29);
        flex-direction: column;
    }

    .about {
        width: 100%;
    }



    .quick {
        width: 100%;
        padding-top: 0px;
    }

    .quick h1 {
        line-height: 2;
    }


    .quick a {
        padding: 0px 30px 0px 0px;
        text-transform: uppercase;
        font-size: 18px;
    }


    .news {
        width: 100%;
    }


    .contact {
        width: 100%;
    }




    .resevered {
        height: 140px;
        width: 100%;
        background-color: rgba(31, 29, 29, 0.945);
        flex-direction: column;

    }

    .resevered p {
        width: 100%;
    }



    .top-child-two2 {
        width: 100%;
        padding-left: 295px;
    }

}






@media only screen and (max-width:800px) {


    .main-foot-div {
        width: 100%;
        height: 850px;
        background-color: rgb(31, 29, 29);
        flex-direction: column;
    }

    .about {
        width: 100%;
    }



    .quick {
        width: 100%;
        padding-top: 0px;
    }

    .quick h1 {
        line-height: 2;
    }


    .quick a {
        padding: 0px 30px 0px 0px;
        text-transform: uppercase;
        font-size: 18px;
    }


    .news {
        width: 100%;
    }


    .contact {
        width: 100%;
    }




    .resevered {
        height: 140px;
        width: 100%;
        background-color: rgba(31, 29, 29, 0.945);
        flex-direction: column;

    }

    .resevered p {
        width: 100%;
    }



    .top-child-two2 {
        width: 100%;
        padding-left: 265px;
    }

}







@media only screen and (max-width:650px) {


    .main-foot-div {
        width: 100%;
        height: 850px;
        background-color: rgb(31, 29, 29);
        flex-direction: column;
    }

    .about {
        width: 100%;
    }



    .quick {
        width: 100%;
        padding-top: 0px;
    }

    .quick h1 {
        line-height: 2;
    }


    .quick a {
        padding: 0px 30px 0px 0px;
        text-transform: uppercase;
        font-size: 18px;
    }


    .news {
        width: 100%;
    }


    .contact {
        width: 100%;
    }




    .resevered {
        height: 140px;
        width: 100%;
        background-color: rgba(31, 29, 29, 0.945);
        flex-direction: column;

    }

    .resevered p {
        width: 100%;
    }



    .top-child-two2 {
        width: 100%;
        padding-left: 165px;
    }

}








@media only screen and (max-width:550px) {


    .main-foot-div {
        width: 100%;
        height: 950px;
        background-color: rgb(31, 29, 29);
        flex-direction: column;
    }

    .about {
        width: 100%;
    }



    .quick {
        width: 100%;
        padding-top: 0px;
    }

    .quick h1 {
        line-height: 2;
    }


    .quick a {
        padding: 0px 30px 0px 0px;
        text-transform: uppercase;
        font-size: 18px;
    }


    .news {
        width: 100%;
    }


    .contact {
        width: 100%;
    }




    .resevered {
        height: 140px;
        width: 100%;
        background-color: rgba(31, 29, 29, 0.945);
        flex-direction: column;

    }

    .resevered p {
        width: 100%;
    }



    .top-child-two2 {
        width: 100%;
        padding-left: 105px;
    }

}





@media only screen and (max-width:400px) {


    .main-foot-div {
        width: 100%;
        height: 950px;
        background-color: rgb(31, 29, 29);
        flex-direction: column;
    }

    .about {
        width: 100%;
    }



    .quick {
        width: 100%;
        padding-top: 0px;
    }

    .quick h1 {
        line-height: 2;
    }


    .quick a {
        padding: 0px 30px 0px 0px;
        text-transform: uppercase;
        font-size: 18px;
    }


    .news {
        width: 100%;
    }


    .contact {
        width: 100%;
    }




    .resevered {
        height: 140px;
        width: 100%;
        background-color: rgba(31, 29, 29, 0.945);
        flex-direction: column;

    }

    .resevered p {
        width: 100%;
    }



    .top-child-two2 {
        width: 100%;
        padding-left: 80px;
    }

}